body {
  font-family: "JetBrains Mono", monospace;
  background: #000; /* pure black */
  color: #d8f3dc; /* soft hacker green */
}

a {
  color: #80ffdb;
  text-decoration: none;
}

a:hover {
  color: #64dfdf;
}

header, footer {
  opacity: 0.7;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.site-title, h1 {
  color: #a8ffe6;
  text-shadow:
      0 0 6px #a8ffe6,
      0 0 12px #70ffd4,
      0 0 24px #70ffd4;
}


